[Unit]
After=syslog.target network-online.target
ConditionPathIsDirectory=/etc/wireguard

[Service]
WorkingDirectory={WorkingDirectory}
ExecStart={WorkingDirectory}/venv/bin/python3 {WorkingDirectory}/dashboard.py
PrivateTmp=yes
Restart=always


[Install]
WantedBy=multi-user.target
